@page
@model Bloggie.Web.Pages.RegisterModel
@{
}


<div class="container mx-auto">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6">

                <h1 class="mt-5 mb-3 h3">Register</h1>

                <partial name="_Notification">

                    <form method="post">

                        <div class="mb-3">
                            <label class="form-label">Username</label>
                            <input type="text" class="form-control" asp-for="RegisterViewModel.Username" />
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Email</label>
                            <input type="email" class="form-control" asp-for="RegisterViewModel.Email" />
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Password</label>
                            <input type="password" class="form-control" asp-for="RegisterViewModel.Password" />
                        </div>

                        <div class="mb-3">
                            <button type="submit" class="btn bg-dark text-light">Register</button>
                        </div>

                    </form>
</div>
    </div>
</div>